{% extends "layout.html" %}

{% block main %}
<div class="container yue">
    <div class="hentry"{%if post.review%} itemscope itemtype="http://data-vocabulary.org/Review"{%endif%}>
        <div class="entry-header">
            <h1 class="entry-title">{{post.title}}</h1>
            
            <div class="entry-description">
                <p itemprop="headline"><small>{{post.description}}</small></p>
            </div>
        </div>

    <div class="entry-content">
        {{post.content}}
    </div>

    
    <div class="entry-list">
        {% for post in resource.posts[:6] %}
        <div class="entry-item">
            <time class="updated" datetime="{{post.date|xmldatetime}}">{{post.date.strftime("%b, %d, %Y")}}</time>
            <a href="{{ post|permalink }}">{{post.title}}</a>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
